input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gridDefault {
  display: grid;
  grid-template-columns: auto auto;
}
.imgBanner {
  width: 100%;
  aspect-ratio: 16/7;

}
.imgCard {
  display: flex;
  justify-content: center;
}


